// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as AgentTrunkApi from "../../../index.js";

export declare namespace ScopesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ScopesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ScopesClient.Options>;

    constructor(options: ScopesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {string} trunkId
     * @param {ScopesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentTrunkApiError}
     * @throws {@link errors.AgentTrunkTimeoutError}
     *
     * @example
     *     await client.scopes.list("trunkId")
     */
    public list(
        trunkId: string,
        requestOptions?: ScopesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentTrunkApi.ListScopesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(trunkId, requestOptions));
    }

    private async __list(
        trunkId: string,
        requestOptions?: ScopesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentTrunkApi.ListScopesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentTrunkEnvironment.Default,
                `v1/trunks/${core.url.encodePathParam(trunkId)}/scopes`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentTrunkApi.ListScopesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentTrunkApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/trunks/{trunkId}/scopes");
    }

    /**
     * @param {string} trunkId
     * @param {AgentTrunkApi.CreateScopesRequest} request
     * @param {ScopesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentTrunkApiError}
     * @throws {@link errors.AgentTrunkTimeoutError}
     *
     * @example
     *     await client.scopes.create("trunkId", {
     *         name: "name"
     *     })
     */
    public create(
        trunkId: string,
        request: AgentTrunkApi.CreateScopesRequest,
        requestOptions?: ScopesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentTrunkApi.Scope> {
        return core.HttpResponsePromise.fromPromise(this.__create(trunkId, request, requestOptions));
    }

    private async __create(
        trunkId: string,
        request: AgentTrunkApi.CreateScopesRequest,
        requestOptions?: ScopesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentTrunkApi.Scope>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentTrunkEnvironment.Default,
                `v1/trunks/${core.url.encodePathParam(trunkId)}/scopes`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentTrunkApi.Scope, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentTrunkApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/trunks/{trunkId}/scopes");
    }
}
