// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentTrunkApi from "../../../index.js";

export declare namespace ReleasesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ReleasesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ReleasesClient.Options>;

    constructor(options: ReleasesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {string} trunkId
     * @param {AgentTrunkApi.ListReleasesRequest} request
     * @param {ReleasesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.AgentTrunkApiError}
     * @throws {@link errors.AgentTrunkTimeoutError}
     *
     * @example
     *     await client.releases.list("trunkId")
     */
    public list(
        trunkId: string,
        request: AgentTrunkApi.ListReleasesRequest = {},
        requestOptions?: ReleasesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentTrunkApi.ListReleasesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(trunkId, request, requestOptions));
    }

    private async __list(
        trunkId: string,
        request: AgentTrunkApi.ListReleasesRequest = {},
        requestOptions?: ReleasesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentTrunkApi.ListReleasesResponse>> {
        const { cursor, scopeId, status, limit } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            scopeId,
            status: status != null ? status : undefined,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentTrunkEnvironment.Default,
                `v1/trunks/${core.url.encodePathParam(trunkId)}/promotion-requests`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentTrunkApi.ListReleasesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentTrunkApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/trunks/{trunkId}/promotion-requests",
        );
    }

    /**
     * @param {string} trunkId
     * @param {AgentTrunkApi.OpenPromotionRequestInput} request
     * @param {ReleasesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentTrunkApi.ConflictError}
     * @throws {@link errors.AgentTrunkApiError}
     * @throws {@link errors.AgentTrunkTimeoutError}
     *
     * @example
     *     await client.releases.open("trunkId")
     */
    public open(
        trunkId: string,
        request: AgentTrunkApi.OpenPromotionRequestInput = {},
        requestOptions?: ReleasesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentTrunkApi.PromotionRequest> {
        return core.HttpResponsePromise.fromPromise(this.__open(trunkId, request, requestOptions));
    }

    private async __open(
        trunkId: string,
        request: AgentTrunkApi.OpenPromotionRequestInput = {},
        requestOptions?: ReleasesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentTrunkApi.PromotionRequest>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentTrunkEnvironment.Default,
                `v1/trunks/${core.url.encodePathParam(trunkId)}/promotion-requests`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentTrunkApi.PromotionRequest, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 409:
                    throw new AgentTrunkApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.AgentTrunkApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/trunks/{trunkId}/promotion-requests",
        );
    }

    /**
     * @param {string} trunkId
     * @param {string} promotionId
     * @param {ReleasesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentTrunkApi.ConflictError}
     * @throws {@link errors.AgentTrunkApiError}
     * @throws {@link errors.AgentTrunkTimeoutError}
     *
     * @example
     *     await client.releases.merge("trunkId", "promotionId")
     */
    public merge(
        trunkId: string,
        promotionId: string,
        requestOptions?: ReleasesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentTrunkApi.PromotionRequest> {
        return core.HttpResponsePromise.fromPromise(this.__merge(trunkId, promotionId, requestOptions));
    }

    private async __merge(
        trunkId: string,
        promotionId: string,
        requestOptions?: ReleasesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentTrunkApi.PromotionRequest>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentTrunkEnvironment.Default,
                `v1/trunks/${core.url.encodePathParam(trunkId)}/promotion-requests/${core.url.encodePathParam(promotionId)}/merge`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentTrunkApi.PromotionRequest, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 409:
                    throw new AgentTrunkApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.AgentTrunkApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/trunks/{trunkId}/promotion-requests/{promotionId}/merge",
        );
    }
}
