// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentTrunkApi from "../../../index.js";

export declare namespace BillingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BillingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BillingClient.Options>;

    constructor(options: BillingClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Organization subscription and usage summary. Requires billing:read. MCP metering is currently inactive.
     *
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentTrunkApi.ForbiddenError}
     * @throws {@link AgentTrunkApi.ServiceUnavailableError}
     * @throws {@link errors.AgentTrunkApiError}
     * @throws {@link errors.AgentTrunkTimeoutError}
     *
     * @example
     *     await client.billing.get()
     */
    public get(
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<AgentTrunkApi.GetBillingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(requestOptions));
    }

    private async __get(
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentTrunkApi.GetBillingResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentTrunkEnvironment.Default,
                "v1/billing",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentTrunkApi.GetBillingResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new AgentTrunkApi.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new AgentTrunkApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentTrunkApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/billing");
    }

    /**
     * Requires billing:manage. Reuses an unexpired checkout; existing subscriptions must use the portal. Body limited to 4096 bytes.
     *
     * @param {AgentTrunkApi.CreateCheckoutBillingRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentTrunkApi.BadRequestError}
     * @throws {@link AgentTrunkApi.ForbiddenError}
     * @throws {@link AgentTrunkApi.ConflictError}
     * @throws {@link AgentTrunkApi.ServiceUnavailableError}
     * @throws {@link errors.AgentTrunkApiError}
     * @throws {@link errors.AgentTrunkTimeoutError}
     *
     * @example
     *     await client.billing.createCheckout({
     *         plan: "starter"
     *     })
     */
    public createCheckout(
        request: AgentTrunkApi.CreateCheckoutBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<AgentTrunkApi.CreateCheckoutBillingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createCheckout(request, requestOptions));
    }

    private async __createCheckout(
        request: AgentTrunkApi.CreateCheckoutBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentTrunkApi.CreateCheckoutBillingResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentTrunkEnvironment.Default,
                "v1/billing/checkout",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as AgentTrunkApi.CreateCheckoutBillingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentTrunkApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new AgentTrunkApi.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new AgentTrunkApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new AgentTrunkApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentTrunkApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/billing/checkout");
    }

    /**
     * Requires billing:manage and an existing organization customer.
     *
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentTrunkApi.ForbiddenError}
     * @throws {@link AgentTrunkApi.ConflictError}
     * @throws {@link AgentTrunkApi.ServiceUnavailableError}
     * @throws {@link errors.AgentTrunkApiError}
     * @throws {@link errors.AgentTrunkTimeoutError}
     *
     * @example
     *     await client.billing.createPortal()
     */
    public createPortal(
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<AgentTrunkApi.CreatePortalBillingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createPortal(requestOptions));
    }

    private async __createPortal(
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentTrunkApi.CreatePortalBillingResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentTrunkEnvironment.Default,
                "v1/billing/portal",
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as AgentTrunkApi.CreatePortalBillingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new AgentTrunkApi.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new AgentTrunkApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new AgentTrunkApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentTrunkApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/billing/portal");
    }

    /**
     * Requires billing:manage. Audited organization overage cap; excludes subscription fees and taxes. Does not activate metering.
     *
     * @param {AgentTrunkApi.SetSpendLimitBillingRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentTrunkApi.BadRequestError}
     * @throws {@link AgentTrunkApi.ForbiddenError}
     * @throws {@link AgentTrunkApi.ServiceUnavailableError}
     * @throws {@link errors.AgentTrunkApiError}
     * @throws {@link errors.AgentTrunkTimeoutError}
     *
     * @example
     *     await client.billing.setSpendLimit({
     *         cents: 1
     *     })
     */
    public setSpendLimit(
        request: AgentTrunkApi.SetSpendLimitBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<AgentTrunkApi.SetSpendLimitBillingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__setSpendLimit(request, requestOptions));
    }

    private async __setSpendLimit(
        request: AgentTrunkApi.SetSpendLimitBillingRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentTrunkApi.SetSpendLimitBillingResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentTrunkEnvironment.Default,
                "v1/billing/spend-limit",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as AgentTrunkApi.SetSpendLimitBillingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentTrunkApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new AgentTrunkApi.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new AgentTrunkApi.ServiceUnavailableError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentTrunkApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/billing/spend-limit");
    }
}
