// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentTrunkApi from "../../../index.js";

export declare namespace PrivacyClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PrivacyClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PrivacyClient.Options>;

    constructor(options: PrivacyClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Requires workspace management. Repeating the same assignment is safe; other owners and terminal cases conflict. Does not verify identity or complete fulfillment.
     *
     * @param {string} trunkId
     * @param {string} requestId
     * @param {Record<string, unknown>} request
     * @param {PrivacyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentTrunkApi.BadRequestError}
     * @throws {@link AgentTrunkApi.ForbiddenError}
     * @throws {@link AgentTrunkApi.ConflictError}
     * @throws {@link errors.AgentTrunkApiError}
     * @throws {@link errors.AgentTrunkTimeoutError}
     *
     * @example
     *     await client.privacy.assignReview("trunkId", "requestId", {
     *         "key": "value"
     *     })
     */
    public assignReview(
        trunkId: string,
        requestId: string,
        request: Record<string, unknown>,
        requestOptions?: PrivacyClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__assignReview(trunkId, requestId, request, requestOptions));
    }

    private async __assignReview(
        trunkId: string,
        requestId: string,
        request: Record<string, unknown>,
        requestOptions?: PrivacyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentTrunkEnvironment.Default,
                `v1/trunks/${core.url.encodePathParam(trunkId)}/privacy-requests/${core.url.encodePathParam(requestId)}/review`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentTrunkApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new AgentTrunkApi.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new AgentTrunkApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.AgentTrunkApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/trunks/{trunkId}/privacy-requests/{requestId}/review",
        );
    }

    /**
     * Requires workspace management. Counts selected database dependencies; explicitly not executable or a complete provider inventory.
     *
     * @param {string} trunkId
     * @param {PrivacyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentTrunkApi.ForbiddenError}
     * @throws {@link errors.AgentTrunkApiError}
     * @throws {@link errors.AgentTrunkTimeoutError}
     *
     * @example
     *     await client.privacy.erasurePlan("trunkId")
     */
    public erasurePlan(
        trunkId: string,
        requestOptions?: PrivacyClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__erasurePlan(trunkId, requestOptions));
    }

    private async __erasurePlan(
        trunkId: string,
        requestOptions?: PrivacyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentTrunkEnvironment.Default,
                `v1/trunks/${core.url.encodePathParam(trunkId)}/erasure-plan`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new AgentTrunkApi.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.AgentTrunkApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/trunks/{trunkId}/erasure-plan",
        );
    }

    /**
     * Requires workspace management. This is not a personal-data export.
     *
     * @param {string} trunkId
     * @param {PrivacyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentTrunkApi.ForbiddenError}
     * @throws {@link errors.AgentTrunkApiError}
     * @throws {@link errors.AgentTrunkTimeoutError}
     *
     * @example
     *     await client.privacy.list("trunkId")
     */
    public list(
        trunkId: string,
        requestOptions?: PrivacyClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__list(trunkId, requestOptions));
    }

    private async __list(
        trunkId: string,
        requestOptions?: PrivacyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentTrunkEnvironment.Default,
                `v1/trunks/${core.url.encodePathParam(trunkId)}/privacy-requests`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new AgentTrunkApi.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.AgentTrunkApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/trunks/{trunkId}/privacy-requests",
        );
    }

    /**
     * Requires workspace management. Deduplicates open requests for the authorizing user. Does not export or delete data.
     *
     * @param {string} trunkId
     * @param {AgentTrunkApi.CreatePrivacyRequest} request
     * @param {PrivacyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentTrunkApi.BadRequestError}
     * @throws {@link AgentTrunkApi.ForbiddenError}
     * @throws {@link errors.AgentTrunkApiError}
     * @throws {@link errors.AgentTrunkTimeoutError}
     *
     * @example
     *     await client.privacy.create("trunkId", {
     *         kind: "access"
     *     })
     */
    public create(
        trunkId: string,
        request: AgentTrunkApi.CreatePrivacyRequest,
        requestOptions?: PrivacyClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__create(trunkId, request, requestOptions));
    }

    private async __create(
        trunkId: string,
        request: AgentTrunkApi.CreatePrivacyRequest,
        requestOptions?: PrivacyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentTrunkEnvironment.Default,
                `v1/trunks/${core.url.encodePathParam(trunkId)}/privacy-requests`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new AgentTrunkApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new AgentTrunkApi.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.AgentTrunkApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/trunks/{trunkId}/privacy-requests",
        );
    }
}
